.wrapper {
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    height: 60px;
    width: 100%;
    top: 0px;
    position: fixed;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    z-index: 1000;
}

.inner {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-width: 100%;
    padding-right: 24px;
    padding-left: 16px;
}

.logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 300px;
    margin-inline-start: unset;
}

.options {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-inline-end: unset;
}


