.label {
    margin-bottom: 0.75rem;
    width: fit-content;
}

.input {
    width: 50%;
    font-size: 1.5rem;
    color: #718096;
    margin: 1rem; // Corresponds to file:mr-4
    padding-top: 0.5rem; // Corresponds to file:py-1
    padding-bottom: 0.5rem; // Corresponds to file:py-1
    padding-left: 0.5rem; // Corresponds to file:px-2
    padding-right: 0.5rem; // Corresponds to file:px-2
    border-radius: 9999px; // Corresponds to file:rounded-full
    border: none; // Corresponds to file:border-0
    background-color: #0b838e; // Corresponds to file:bg-gray-700
    color: #ebf4ff; // Corresponds to file:text-sky-300

    &:hover {
        background-color: #2d3748; // Corresponds to hover:file:bg-gray-600
    }
}

.error {
    color: #fc8181;
    font-size: 0.75rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    color: #fff; // Corresponds to text-white
    font-size: 1.5rem; // Corresponds to text-xs
    padding: 0.5rem 1rem; // Corresponds to py-2 px-4
    border-radius: 1rem; // Corresponds to rounded-2xl
    margin-top: 2rem; // Corresponds to mt-4
    background-color: #4299e1; // Corresponds to bg-sky-500

    &:hover {
        background-color: #38b2ac; // Corresponds to hover:bg-sky-600
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
