.post {
    margin: 1rem;
    background: var(--white);
    padding: 2rem;
    border-radius: calc(16px + 2rem);;
    padding-bottom: 2rem;
    width: 600px;
    cursor: default;
}

.post-thumbnail {
    border-radius: 16px;
    overflow: hidden;
    height: 30rem;
}

.post-content {
    margin-top: 1.5rem;
}

h3 {
    margin: 1rem 0 0.6rem;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
}

.category {
    display: inline-block;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background: hwb(240 95% 0%);
    color: var(--primary);
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
